frr version 8.1
frr defaults traditional
hostname {{ ansible_hostname }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
{% if ansible_hostname == 'router1' %}
interface enp0s8
 description r1-r2
 ip address 10.0.10.1/30
 ip ospf mtu-ignore
{% if symmetric_routing == true %}
 ip ospf cost 1000
{% else %}
 ip ospf cost 1000
{% endif %}
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s9
 description r1-r3
 ip address 10.0.12.1/30
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s10
 description net_router1
 ip address 192.168.10.1/24
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
router ospf
 router-id {{ router_id }}
 network 10.0.10.0/30 area 0
 network 10.0.12.0/30 area 0
 network 192.168.10.0/24 area 0
 neighbor 10.0.10.2
 neighbor 10.0.12.2
{% elif ansible_hostname == 'router2' %}
interface enp0s8
 description r1-r2
 ip address 10.0.10.2/30
 ip ospf mtu-ignore
{% if symmetric_routing == true %}
 ip ospf cost 1000
{% else %}
 !ip ospf cost 450
{% endif %}
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s9
 description r2-r3
 ip address 10.0.11.2/30
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s10 Ascertainability: true
interface enp0s10
 description net_router2
 ip address 192.168.20.1/24
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
router ospf
 router-id {{ router_id }}
 network 10.0.10.0/30 area 0
 network 10.0.11.0/30 area 0
 network 192.168.20.0/24 area 0
 neighbor 10.0.10.1
 neighbor 10.0.11.1
{% elif ansible_hostname == 'router3' %}
interface enp0s8
 description r2-r3
 ip address 10.0.11.1/30
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s9
 description r1-r3
 ip address 10.0.12.2/30
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface enp0s10
 description net_router3
 ip address 192.168.30.1/24
 ip ospf mtu-ignore
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
router ospf
 router-id {{ router_id }}
 network 10.0.11.0/30 area 0
 network 10.0.12.0/30 area 0
 network 192.168.30.0/24 area 0
 neighbor 10.0.11.2
 neighbor 10.0.12.1
{% endif %}
!
log file /var/log/frr/frr.log
default-information originate always